@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS para ambos temas (Soporte RGB para opacidad en Tailwind) */
:root {
    --color-background: 245 241 232; /* #F5F1E8 */
    --color-main: 41 39 37; /* #292725 */
    --color-secondary: 183 180 174; /* #B7B4AE */
    --color-accent: 167 101 69; /* #A76545 */
    --color-title: 90 64 53; /* #5A4035 */

    --expo-out: cubic-bezier(0.16, 1, 0.3, 1);
}

.dark {
    --color-background: 22 20 18; /* #161412 */
    --color-main: 230 226 216; /* #E6E2D8 */
    --color-secondary: 74 69 64; /* #4A4540 */
    --color-accent: 184 115 82; /* #B87352 */
    --color-title: 203 186 176; /* #CBBAB0 */
}

body {
    background-color: rgb(var(--color-background));
    overflow-x: hidden;
}

/* Efecto Underline Animado (Adaptable al tema) */
.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--color-accent));
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Imagen de fondo del Hero */
.hero-bg {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAnnGI_qZFgZUvyZ2OtbyRIKPewq676EL2cXWOxm3TUqhB7zmGuxYAAyF5Osa8SrrKqLcQ_Bm4e2GAGcZbsouuZML6Wbcnw6UAhHYh2YEW-WZmxk-JAG0bsZIrmQO44zexKWR__dCpPBFl0xTvjnLDmtRF9ABMCvZ9ew7ySJkJA51lbqJblBx5etLfVu9AXmSea5yBIxbSBzQXIo0bcYBTazdc4eYOWhO4Q7KzraZ5SoE38TQFEb8RG');
}

/* -------------------------------------
   View Transitions API - Toggle Animation
   ------------------------------------- */
::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
    animation-name: reveal-light;
    animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
    animation: none;
    animation-fill-mode: both;
    z-index: -1;
}

.dark::view-transition-new(root) {
    animation-name: reveal-dark;
    animation-fill-mode: both;
}

@keyframes reveal-dark {
    from {
        clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }
    to {
        clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
}

@keyframes reveal-light {
    from {
        clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }
    to {
        clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
}